<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>site_game_dev</title>
    <style>
        body {font-family: Arial, sa-serif; text-align:center; margin-top: 50px; }
        input {padding: 10 px; margin-top: 20px; }
        .error {color: red; }
    </style>
</head>
<body>
    <h1>Entrez le mot de passe</h1>
    <form method="POST">
        <label for="password" >Mot de passe :</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Valider</button>
    </form>
</body>
</html>